#root,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

.app {
	position: relative;
	min-height: 100vh;
	padding-top: 50%;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('./images/library.jpg');
	background-size: cover;
	background-position: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}
